<h1 class="bbpick">Burgers
  <br>
  <br>
  <br>
</h1>

<div class="aqua"> 
<div class="row"> 
<div class="card col-md-4 ml-5 mt-5">
  <div class="card-body">
  
    <h2>Awaiting to be devoured your highness</h2>
    
    <ul>
      {{#each burgers}} {{#unless sleepy}} {{> burgers/burger-block sleep=true}}
      <button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
        DEVOUR ME NOW, I BEG YOU
      </button>
      {{/unless}} {{/each}}
    
    </ul>
  </div>
</div>

<br>
<br>
<br>

<div class="card col-md-4 ml-5 mt-5">
  <div class="card-body">
  <h2>burgers you've already downed your highness</h2>
  
  <ul>
    {{#each burgers}} {{#if sleepy}} {{> burgers/burger-block sleep=false}} {{/if}} {{/each}}
  </ul>
  </div>
</div>

</div>

<br>
<br>
<br>
<br>
<br>
 
<h2 class="ml-5">Add da burga</h2>

<form class="create-form">
  <div class="form-group">
    <label class="ml-5" for="ca">what you having???</label>
    <input class="ml-5" type="text" id="ca" name="name">
  </div>
  
</form>
</div>